* {
   margin: 0;
   padding: 0;
}
body {
   font-family: "Nunito Sans", sans-serif;
}
.main {
   background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}
.conteiner {
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.text {
   color: #faf9f9;
   flex: 0 0 450px;
   padding-top: 170px;
   padding-bottom: 170px;
}
h1 {
   font-size: 120px;
   font-weight: 800px;
   text-transform: uppercase;
   line-height: 120px;
   margin-bottom: 40px;
}
img {
   width: 829px;
   position: absolute;
   right: -168px;
}
h1 span {
   color: #fbb731;
   font-size: 30px;
   font-weight: 700px;
   line-height: 38px;
   text-transform: uppercase;
   display: block;
   margin-bottom: 10px;
}
p {
   font-family: "Lato", sans-serif;
   font-size: 19px;
   line-height: 1.4;
   margin-bottom: 42px;
}
a {
   color: #1e2f40;
   background-color: #fbb731;
   border-radius: 5px;
   text-decoration: none;
   padding: 20px 45px;
   display: inline-block;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700px;
}
.visual {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   position: relative;
}
.bg {
   width: 432px;
   height: 100%;
   background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%, #fdc830 100.79%);
}
